@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Slab:wght@500;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";


@theme {
  --font-display: "IBM Plex Slab", serif;
  --color-accent: #f59e0b;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0c0a09; 
}